/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  width: 100vh;
  margin: 0;
  background: #101112c4;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
}
