
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable::-webkit-scrollbar{
  background-color: transparent;
  width: 8px;
}

.scrollable::-webkit-scrollbar-thumb{
  background-image: linear-gradient( rgba(163, 206, 255, 0.2), transparent 6px, transparent calc(100% - 6px), rgba(163, 206, 255, 0.2));
  background-color: rgba(43, 55, 68, 1);
}
.scrollable::-webkit-scrollbar-thumb:hover{
  background-color: rgb(78, 91, 102);
}

.scrollable::-webkit-scrollbar-thumb:active{
  background-color: rgb(132, 150, 167);
}
