.highlight {
  transition-duration: 0.1s;
  transition-property: background-color;
  will-change: background-color;
}
.text {
  padding-left: 20px;
  font-family: EveSans;
  font-size: 13px;
  color: lightgray;
  white-space: nowrap;
}
.button:hover .highlight{
  background-color: rgba(39, 47, 54, 0.667);
  transition-duration: 0s;
}
@font-face {
  font-family: 'EveSans';
  src: url('../../assets/fonts/evesansneue-regular.otf');
}

.margin{
  height: 1px;
}
.button {
  cursor: url('../../assets/cursor2.png'), pointer;
}
.button:focus {
  outline: none;
}
