.white {
  color: lightgray;
}

.corpWrapper{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}
.allianceWrapper {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
}
.corporationImage{
  height: 20px;
  width: 20px;
}
.allianceImage{
  height: 20px;
  width: 20px;
}

.hidden{
  opacity: 0;
}
.line{
  position: relative;
  height: 1px;
  background-color: rgba(70, 85, 99, 0.877);

}

.horizontal {
  width: 100%;
  margin: 2px;
}

.text {
  padding-left: 2px;
  font-family: EveSans;
  font-size: 13px;
  color: lightgray;
  font-kerning: normal;
  overflow: hidden;
  white-space: nowrap;
}

@font-face {
  font-family: 'EveSans';
  src: url('../../assets/fonts/evesansneue-regular.otf');
}
