.banner{
  width: 100vw;
  height: 20px;
}
.background{
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition-property: background-color, box-shadow;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
  background-color: #101112aa;
  cursor: url("../../assets/cursor3.png") 13 12, default;
  outline: none;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px #303235dd;
}
.background:focus,.background:focus-within{
  background-color: #151617dd;
  transition-timing-function: linear;
  transition-duration: 250ms;
  box-shadow: inset 0px 0px 0px 1px #37393ddd;
}

.content{
  box-sizing: border-box;
  padding: 1px;
  padding-top: 0px;
  width: 100%;
  height: calc(100% - 20px);
}
svg.corner{
  display: block;
  position: absolute;
  height: 3px;
  width: 3px;
}
svg.right {
  right: 0px;
}
svg.left {
  left: 0;
}
svg.bottom {
  bottom: 0;
}
svg.top {
  top: 0;
}
line.corner{
  transition-property: stroke stroke-width;
  transition-duration: 250ms;
  stroke: gray;
  stroke-width: 1px;
}
.background:focus,.background:focus-within line.corner{
  stroke: rgb(149, 173, 189);
  stroke-width: 2px;
}

svg.button{
  height: 10px;
  width: 10px;
  display: none;
  margin: auto;
}

*:hover svg.button{
  display: block;
}
line.button{
  stroke-width: 1px;
  stroke: #f5f4f4;
  transition: stroke 100ms ease-in-out, stroke-width 100ms ease-in-out;
}

button:hover line.button{
  stroke-width: 2px;
  stroke: white;
}

button{
  cursor: url("../../assets/cursor4.png"), default;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  background-color: transparent;
  border: transparent;
  outline: none;
}
div.button{
  float: right;
}
